*{
    margin: 0px;
    padding: 0px;
}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 494px;
    background-image: linear-gradient(to bottom right,pink, brown , sandybrown,aqua);
    padding: 50px;
    border-radius: 25px;
    box-shadow: 7px 13px 37px rgb(0, 0,0);
}
html {height: 100%;}body{
    background-image: linear-gradient(to bottom right,pink, aqua , sandybrown,aqua);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
}
.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
.n{
    width: 95%;
    border-radius: 5px ;
    border: 1px solid brown;
    padding: 5px;
    height: 10px;
    color: black;
    background-color: transparent;
}
.hola{
    width: 100%;
    border: none;
    border-radius: 5px;
    border: 1px solid brown;
    background-color:transparent;
}